@model IEnumerable<CouponDto>

<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
			<div class="col-12 text-center">
				<h1 class="text-white">Cupons Cadastrados</h1>
			</div>
		</div>
	</div>
	<div class="card-body p-4">
		<div class="row pb-3">
			<div class="col-6">
			</div>
			<div class="col-6 text-end">
				<a class="btn btn-outline-info" asp-action="CouponCreate" asp-controller="Coupon" ><i class="bi bi-plus-square"></i> Criar novo cupom</a>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th style="text-align:center">Código do cupom</th>
					<th style="text-align:center">Valor do desconto</th>
					<th style="text-align:center">Valor mínimo</th>
					<th style="text-align:center">Criação</th>
					<th style="text-align:center">Validade</th>
					<th style="text-align:center"></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td style="text-align:center">@item.CouponCode</td>
						<td style="text-align:center">R$ @item.DiscountAmount</td>
						<td style="text-align:center">R$ @item.MinAmount</td>
						<td style="text-align:center">@item.CreatedAt.ToString("dd/MM/yyyy")</td>
						<td style="text-align:center">@item.ExpiresIn.ToString("dd/MM/yyyy")</td>
						<td style="text-align:center">
							<a asp-action="CouponDelete" asp-route-couponId="@item.CouponId" class="btn btn-danger">
								<i class="bi bi-trash"></i>
							</a>
						</td>
					</tr>
				}
			</tbody>
		</table>

	</div>

</div>
